/*CSS for loader*/
#outer-loader {
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border-top: #ff6347;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 5s infinite linear;

}
#middle-loader {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  border-top: dodgerblue;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 5s infinite linear;

}
#inner-loader {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  border-top: limegreen;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 5s infinite linear;

}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*Main loading screen*/
#loading-screen
{
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 98vw;
  margin: 0rem;
  padding: 0rem;
  background-color: #fff;

}
/*Wrapper for loader*/
#loader-wrapper
{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
