/*CSS for loader*/
#outer-loader {
  width: auto;
  height: auto;
  border-radius: 50%;
  border-top: #ff6347;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 3s infinite linear;
  padding: 1rem;
}
#middle-loader {
  width: auto;
  height: auto;
  border-radius: 50%;
  border-top: dodgerblue;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 3s infinite linear;
  padding: 1rem;
}
#inner-loader {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
  border-top: limegreen;
  border-style: solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  animation: spin 3s infinite linear;
  padding: 1rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*MAin loading screen*/
#loading-screen
{
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 98vw;
  margin: 0rem;
  padding: 0rem;
  background-color: #fff;

}
/*Wrapper for loader*/
#loader-wrapper
{
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
